<!--The content below is only a placeholder and can be replaced.-->
<body>
    <header id="main-header">
        <div class="container">
            <h1>Min web-side</h1>
        </div>
    </header>
     <nav id="navbar">
         <div class="container">
             <ul>
                 <li><a href="#">Registrer en ny elev</a></li>
                 <li><a href="#">Sjekk inn og ut</a></li>
                 
             </ul>
         </div>
     </nav>
  <div id="cont" >
   
  <app-users id="users"></app-users>
  </div>
</body>